.modal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--indent-25) var(--indent-80);
  background-color: var(--white);
  align-items: center;
  text-align: center;
  width: max-content;
  max-width: 90%;
}

.modalWrapper {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
  pointer-events: none;
}

.closeBtn {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}

.cancelBtn {
  text-decoration: underline;
}
