.pageEnter {
  transform: scale(0.97);
  opacity: 0;
}

.pageEnterActive {
  transform: scale(1);
  opacity: 1;
  transition: opacity 85ms ease-out, transform 85ms ease-out;
}

.pageExit {
  opacity: 1;
  transform: scale(1);
}

.pageExitActive {
  opacity: 0;
  transform: scale(1.03);
  transition: opacity 160ms ease-in, transform 160ms ease-in;
}
