.text {
}

/*
  Font Size
*/

.s-12 {
  font-size: var(--font-size-12);
}
.s-16 {
  font-size: var(--font-size-16);
}
.s-24 {
  font-size: var(--font-size-24);
}

/*
  Font Line Height
*/

.lh-17 {
  line-height: var(--font-line-height-17);
}
.lh-24 {
  line-height: var(--font-line-height-24);
}
.lh-28 {
  line-height: var(--font-line-height-28);
}
.lh-33 {
  line-height: var(--font-line-height-33);
}

/*
  Font Weight
*/

.w-200 {
  font-weight: var(--font-weight-200);
}
.w-300 {
  font-weight: var(--font-weight-300);
}
.w-400 {
  font-weight: var(--font-weight-400);
}
.w-500 {
  font-weight: var(--font-weight-500);
}
.w-700 {
  font-weight: var(--font-weight-700);
}

/*
  Font Color
*/

.c-black {
  color: var(--black);
}
.c-white {
  color: var(--white);
}
.c-gray-F5 {
  color: var(--gray-F5);
}
.c-gray-F4 {
  color: var(--gray-F4);
}
.c-gray-E6 {
  color: var(--gray-E6);
}
.c-gray-E4 {
  color: var(--gray-E4);
}
.c-gray-E3 {
  color: var(--gray-E3);
}
.c-gray-C4 {
  color: var(--gray-C4);
}
.c-gray-99 {
  color: var(--gray-99);
}
.c-green-light {
  color: var(--green-light);
}
.c-green {
  color: var(--green);
}
.c-red-light {
  color: var(--red-light);
}
.c-red-semi-light {
  color: var(--red-semi-light);
}
.c-red {
  color: var(--red);
}
.c-red-dark {
  color: var(--red-dark);
}
.c-orange {
  color: var(--orange);
}
.c-orange-light {
  color: var(--orange-light);
}
.c-lavender {
  color: var(--lavender);
}
.c-lavender-light {
  color: var(--lavender-light);
}
.c-blue {
  color: var(--blue);
}
.c-blue-light {
  color: var(--blue-light);
}
