.graphic {
  overflow: hidden;
  height: 100%;
  display: grid;
  padding-inline: var(--indent-19) var(--indent-10);
  grid-template-columns: repeat(7, 1fr) auto;
  grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr 5.1rem;
  grid-template-areas:
    "column-1 column-2 column-3 column-4 column-5 column-6 column-7 ."
    "column-1 column-2 column-3 column-4 column-5 column-6 column-7 legendName-1"
    "column-1 column-2 column-3 column-4 column-5 column-6 column-7 legendName-2"
    "column-1 column-2 column-3 column-4 column-5 column-6 column-7 legendName-3"
    "column-1 column-2 column-3 column-4 column-5 column-6 column-7 legendName-4"
    "column-1 column-2 column-3 column-4 column-5 column-6 column-7 ."
    "weekday-1 weekday-2 weekday-3 weekday-4 weekday-5 weekday-6 weekday-7 .";
  column-gap: var(--indent-15);
  justify-items: center;
  align-items: center;
}

@media (--tablet-viewport) {
  .graphic {
    padding-inline: calc(var(--indent-19) + var(--indent-15)) var(--indent-10);
    column-gap: var(--indent-19);
  }
}

@media (--netbook-viewport) {
  .graphic {
    grid-template-columns: repeat(7, 1fr) 2.5rem auto;
    grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr 5.1rem;
    grid-template-areas:
      "column-1 column-2 column-3 column-4 column-5 column-6 column-7 . ."
      "column-1 column-2 column-3 column-4 column-5 column-6 column-7 . legendName-1"
      "column-1 column-2 column-3 column-4 column-5 column-6 column-7 . legendName-2"
      "column-1 column-2 column-3 column-4 column-5 column-6 column-7 . legendName-3"
      "column-1 column-2 column-3 column-4 column-5 column-6 column-7 . legendName-4"
      "column-1 column-2 column-3 column-4 column-5 column-6 column-7 . ."
      "weekday-1 weekday-2 weekday-3 weekday-4 weekday-5 weekday-6 weekday-7 . .";
    padding-right: var(--indent-19);
    padding-left: calc(var(--indent-32) + var(--indent-25));
    column-gap: var(--indent-32);
  }
}

.legendName,
.legendNameMobile {
  white-space: nowrap;
}

.legendName {
  display: none;
}

.legendNameMobile {
  transform: translateY(30%);
  opacity: 0.5;
  justify-self: flex-end;
}

@media (--tablet-viewport) {
  .legendName {
    display: initial;
  }

  .legendNameMobile {
    display: none;
  }
}

.weekday {
  transform-style: preserve-3d;
  cursor: pointer;
  font-size: var(--font-size-16);
  transition: color 150ms ease-out;
}

.weekdaySelected {
  color: var(--red);
}

@media (--netbook-viewport) {
  .weekday {
    font-size: var(--font-size-24);
  }
}

.column {
  transform-style: preserve-3d;
  transform: translateZ(1px);
  align-self: flex-end;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--red-light);
  transition: background-color 150ms ease-out;
}

.columnEmpty {
  background-color: var(--gray-C4);
}

.columnSelected {
  background-color: var(--red);
}

@media (pointer: fine) {
  .column:not(.columnSelected):hover {
    background-color: var(--red-semi-light);
  }
}

.footerBackground {
  transform: translateZ(-1px);
  transform-style: preserve-3d;
  width: 200%;
  height: 100%;
  grid-column: 1 / 8;
  grid-row: -1 / -2;
  background-color: var(--gray-EC);
}

@media (--netbook-viewport) {
  .footerBackground {
    grid-column: 1 / 10;
  }
}

.gridLine {
  transform-style: preserve-3d;
  transform: translateZ(-1px);
  grid-column: 1 / 8;
  opacity: 0.2;
  width: 200%;
}

@media (--tablet-viewport) {
  .gridLine {
    justify-self: flex-end;
  }
}

@media (--netbook-viewport) {
  .gridLine {
    grid-column: 1 / 9;
  }
}

.gridLine-1 {
  grid-row: 2 / 3;
}

.gridLine-2 {
  grid-row: 3 / 4;
}

.gridLine-3 {
  grid-row: 4 / 5;
}

.gridLine-4 {
  grid-row: 5 / 6;
}
