.settings {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: var(--indent-32);
  align-items: center;
  justify-items: center;
}

@media (--tablet-viewport) {
  .settings {
    grid-template-columns: 1fr 1.5fr 1fr;
  }
}

@media (--netbook-viewport) {
  .settings {
    grid-template-columns: 2.5fr auto 1fr auto;
  }
}
