.settings {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.parameter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: var(--indent-25);
}

.parameterName {
  flex: 0 0 100%;
}

.value {
  white-space: nowrap;
}

.instructionsSetting {
  width: 100%;
}

@media (--tablet-viewport) {
  .settings {
    text-align: left;
  }

  .parameter {
    flex-flow: row nowrap;
  }

  .parameterName {
    flex: initial;
    margin-right: auto;
  }

  .divider {
    padding-right: var(--indent-10);
  }
}
