.content {
  padding-top: var(--indent-32)
}

@media (--netbook-viewport) {
  .content {
    padding-top: var(--indent-50)
  }
}

@media (--desktop-viewport) {
  .content {
    padding-top: var(--indent-100)
  }
}
