.content {
  padding-block: var(--indent-32);
}

@media (--netbook-viewport) {
  .content {
    padding-block: var(--indent-50);
  }
}

@media (--desktop-viewport) {
  .content {
    padding-block: var(--indent-100);
  }
}
