.headerContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}

.navLinks {
  display: flex;
}

.navLinkText {
  display: none;
}

@media (--netbook-viewport) {
  .navLinkText {
    display: initial;
  }
}

.header {
  box-shadow: var(--shadow);
  background-color: var(--white);
}

.navLink {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.navLinkIcon {
  width: 1.6rem;
  height: 1.6rem;
}
