.task {
  padding: var(--indent-15) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pomodoroCount {
  flex: 0 0 auto;
  border: 0.1rem solid var(--gray-C4);
  border-radius: 100vw;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameWrapper {
  word-break: break-word;
  align-self: stretch;
  padding-inline: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.nameField {
  padding: 0.5rem;
  width: 100%;
}

.nameForm {
  width: 100%;
  background-color: var(--gray-F4);
}

.actions {
  flex: 0 0 auto;
}
