.indicatorWrapper {
  padding: var(--indent-25);
  height: 100%;
}

.indicator {
  position: relative;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
  transform-style: preserve-3d;
}

.value {
  font-size: 4.8rem;
  line-height: 1.1875;
}

@media (--netbook-viewport) {
  .value {
    font-size: 6.4rem;
  }
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform-style: preserve-3d;
  transform: translateY(-50%) translateZ(-1px);
  width: 10rem;
}

@media (--tablet-viewport) {
  .icon {
    width: unset;
  }
}
