.taskEnter {
  opacity: 0;
}
.taskEnterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.taskExit {
  opacity: 1;
}
.taskExitActive {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.predictedPomoTime {
  color: var(--gray-99)
}

@media (prefers-color-scheme: dark) {
  .predictedPomoTime {
    color: var(--color-var-white)
  }
}