.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-C4);
  padding: var(--indent-19) var(--indent-40);
}

.headerFocus {
  background-color: var(--red);
}

.headerBreak {
  background-color: var(--green);
}

.header__taskName {
  display: none;
}

.header__pomoCounter {
  flex-shrink: 0;
}

.timer {
  background-color: var(--gray-F4);
  padding: var(--indent-32) var(--indent-25);
  display: grid;
  justify-items: center;
  align-items: center;
  column-gap: var(--indent-25);
  grid-template-columns: auto auto;
  grid-template-areas:
    "time addButton"
    "describe describe"
    "actions actions";
}

.timerTime {
  justify-self: flex-end;
  grid-area: time;
  font-size: 6rem;
  line-height: 1;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: var(--indent-25);
  row-gap: var(--indent-15);
  width: 100%;
}

.actionsBtn {
  flex-grow: 1;
}

.timerTaskDescribe {
  grid-area: describe;
  text-align: center;
  color: var(--gray-99);
}

@media (prefers-color-scheme: dark) {
  .timerTaskDescribe {
    color: var(--color-var-white);
  }

  .header__taskName {
    color: var(--color-var-white);
  }

  .header__pomoCounter {
    color: var(--color-var-white);
  }

}

@media (--tablet-viewport) {
  .header__taskName {
    display: initial;
  }

  .timer {
    padding: var(--indent-32) var(--indent-25);
  }

  .timerTime {
    font-size: 10rem;
  }
}

@media (--netbook-viewport) {
  .timer {
    grid-template-columns: minmax(5rem, 1fr) auto minmax(5rem, 1fr);
    padding: var(--indent-80) var(--indent-40);
    grid-template-areas:
      ". time addButton"
      "describe describe describe"
      "actions actions actions";
  }

  .actionsBtn {
    flex-grow: 0;
  }

  .actions {
    flex-flow: row nowrap;
  }

  .timerTime {
    font-size: 15rem;
  }

  .actionsBlock {
    justify-self: center;
  }
}

@media (--desktop-viewport) {
  .timer {
    padding: var(--indent-100) var(--indent-50);
  }
}
